.mainHeader {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  gap: 32px;
}

.linkLogo {
  margin-right: 70px;
}

.mainHeader::after {
  position: absolute;
  content: '';
  width: calc(100% + 32px);
  height: 1px;
  background-color: rgba(25, 26, 21, 0.1);
  bottom: 0;
  left: -16px;
}

.navWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 24px;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.navMenuItem {
  position: relative;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.navMenuItem:hover,
.navMenuItem:focus {
  color: #54be96;
}

.active::after {
  position: absolute;
  bottom: -12px;
  left: calc((100% - 8px) / 2);
  content: ' ';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #54be96;
}

.registrationBtn {
  border: none;
  border-radius: 30px;
  padding: 14px 40px;
  width: 171px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  background-color: #54be96;
  transition: background-color 500ms linear;
}

.registrationBtn:hover,
.registrationBtn:focus {
  background-color: #36a379;
}

.auth {
  display: flex;
  gap: 8px;
}

.userInfo {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-right: 20px;
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: #54be96;
}

.username {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .mainHeader::after {
    width: calc(100% + 64px);
    left: -32px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .mainHeader::after {
    width: 1440px;
    left: -128px;
  }
  .linkLogo {
    margin-right: 190px;
  }
}
