.card {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  border-radius: 24px;
  width: 100%;
  background-color: #fbfbfb;
  padding: 24px;
}

.imgWrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(84, 190, 150, 0.2);
  border-radius: 30px;
  min-width: 120px;
  height: 120px;
}

.photo {
  border-radius: 15px;
  min-width: 96px;
  height: 96px;
  object-fit: cover;
}

.imgWrap::after {
  position: absolute;
  top: 8px;
  right: 8px;
  content: '';
  width: 14px;
  height: 14px;
  border: 3px solid #fbfbfb;
  border-radius: 50%;
  background-color: #54be96;
  z-index: 10;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #191a15;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}

.iconWrap {
  width: 16px;
  height: 18px;
}

.rating {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
}

.rating::after {
  content: '';
  width: 1px;
  height: 16px;
  background-color: rgba(25, 26, 21, 0.2);
  margin: 0 8px 0 16px;
}

.price {
  font-weight: 500;
  line-height: 1.5;
  margin: 0 28px 0 16px;
}

.data {
  font-weight: 500;
  line-height: 1.5;
  text-wrap: wrap;
}

.accent {
  color: #38cd3e;
}

.favoriteBtn {
  border: none;
  background-color: transparent;
  padding-right: 4px;
}

.experienceList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 4px;
  margin-bottom: 24px;
}

.experienceItem {
  border-radius: 24px;
  padding: 8px 16px;
  background-color: #f3f3f3;
}

.about {
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 14px;
}

.readMoreBtn {
  background-color: transparent;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #191a15;
  padding: 0;
  transition: color 500ms linear;
}

.readMoreBtn:hover,
.readMoreBtn:focus {
  color: #54be96;
}
