.btn {
  border: 1px solid rgba(25, 26, 21, 0.2);
  border-radius: 30px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-wrap: nowrap;
  background-color: transparent;
  transition: background-color 500ms linear, color 500ms linear;
}

.btn:hover,
.btn:focus {
  background-color: #36a379;
  color: #fbfbfb;
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 767px) {
  .btn {
    max-width: 140px;
    height: 48px;
    padding: 14px 39px;
    font-size: 16px;
  }
}
