.filters {
  margin-bottom: 32px;
  position: relative;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #8a8a89;
  margin-bottom: 8px;
}

.toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  padding-left: 18px;
  padding-right: 0;
  width: 226px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #fbfbfb;
  background-color: #54be96;
  border: none;
  cursor: pointer;
}

.arrowBtn {
  position: absolute;
  left: 190px;
  top: 30px;
  border: none;
  background-color: #54be96;
}
