.main {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.info {
  min-width: 288px;
  max-width: 595px;
}

.title {
  max-width: 390px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.02;
  letter-spacing: -0.02em;
  margin: 40px 0 20px 0;
}

.accent {
  font-style: italic;
  color: #54be96;
}

.text {
  min-width: 288px;
  max-width: 500px;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
}

.link {
  display: flex;
  gap: 18px;
  align-items: center;
  border-radius: 30px;
  padding: 18px 50px;
  width: 236px;
  height: 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  background-color: #54be96;
  margin-top: 40px;
  text-wrap: none;
  transition: background-color 500ms linear;
}

.link:hover,
.link:focus {
  background-color: #36a379;
}

.photo {
  position: relative;
  min-width: 288px;
  height: 526px;
  border-radius: 10px;
  margin-top: 78px;
  background-image: url(/public/bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.block {
  display: none;
  gap: 16px;
  position: absolute;
  left: -100px;
  top: 334px;
  border-radius: 20px;
  width: 311px;
  height: 118px;
  background-color: #54be96;
  padding: 32px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  min-width: 54px;
  height: 54px;
  background-color: #fbfbfb;
}

.blockText {
  font-size: 14px;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 8px;
  text-wrap: nowrap;
}

.number {
  font-weight: 700;
  font-size: 24px;
  color: #fbfbfb;
}

.blue {
  position: absolute;
  top: 186px;
  left: -32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: #4535af;
  transform: rotate(-15deg);
}

.orange {
  position: absolute;
  top: 38px;
  right: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background-color: #fbc75e;
  transform: rotate(15deg);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 80px;
    margin: 126px 0 20px 0;
  }

  .photo {
    width: 464px;
  }

  .block {
    display: flex;
  }

  .blur {
    position: absolute;
    bottom: -264px;
    right: -166px;
    width: 468px;
    height: 468px;
    border-radius: 50%;
    background-color: #54be96;
    filter: blur(1000px);
    z-index: -1;
  }
}
